/********************
YOUR STYLES
*******************/
* {
    box-sizing: border-box;
}

body {
    background: #e1f9ff;
}

header {
    background: rgba(70,130,180,0.5);
    border-radius: 15px;
    color: aliceblue;
    font-family: 'Lora', serif;
    margin: 10px 100px 10px 100px;
    padding: 3em;
    text-align: center;
}

h2 {
    font-size: 3em;
}

main {
    color: aliceblue;
    margin: 3em;
    padding: 2em;
    font-family: 'Lora', serif;
    text-align: center;
    

/*  flexbox layout  */
    display: flex;
    flex-flow: row wrap;

}

section {
    background: rgba(70,130,180,0.5);
     border-radius: 15px;
    padding: 1em;
    margin: 1em;
    
/* flexbox for child   */
    /* flex-grow: 1;
    flex-shrink: 0 ;
    flex-basis: 200px;   */

    flex: 1 0 200px;
        
        
/*  flexbox as parents  */
    
}

button {
    background: lightblue;
    border: none;
    color: white;
    padding: 0.5em;    
}




/********************
MEDIA QUERIES
*******************/

/*get weather icon*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css")



/* Desktop */
@media screen /* 2560px = 160em */
  and (max-width: 160em)
  /* 1280px = 80em */
  and (min-width: 80em) { 
  
  /* Diagnostic Styling. */
/*  body {*/
       background: grey;
  }

}

/* Tablet */
@media screen 
   /* 1279 = 79.9375em */  
  and (max-width: 79.9375em)
   /* 768px = 160em */
  and (min-width: 48em)  {

  /* Diagnostic Styling. */
/*  body {*/
       background: white;
  }

}

/* Mobile */
@media screen
  /* 767px = 47.9375em */
  and (max-width: 47.9375em)
  /* 320px = 20em */
  and (min-width: 20em) { 

  /* Diagnostic Styling. */
/*	body {*/
       background: black;
	}
	
}
